{% extends 'base.htm' %}
{% block title %} About{% endblock title %}
{% block body %}


<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/15.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Lov Niveria</h5>
          <p>Software Developer</p>
        </div>
    
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="https://www.linkedin.com/in/lov-niveria-45086919b/">Linkedin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/lov5">Github</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/static/LovNiveriyaResume (1)_page-0001-converted.pdf">Resume</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://www.hackerrank.com/certificates/9a6ac0eadcf0">hackerrank</a>
      </li>
  </ul>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Programming Languages</h1>
      <p class="lead">Java</p>
      <p>Python</p>
      <p>c,c++</p>
      <p>django</p>
      <p>mysql server</p>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Achivement</h1>
      <p class="lead">5 star in problem solving on hackerrank</p>
      <p>Sql and java certified from Ictk,IIT</p>
      <p>won inter-college cricket tournament</p>
      <p>COT memer in college events</p>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">projects</h1>
      <p class="lead">Bug Tracking System</p>
      <p>Tech_blog website with Django</p>
      <p>deployment of website on heroku server</p>
    </div>
  </div>
{% endblock body %}
